body {
    font-family: Arial;
    background: #f2f2f2;
}

#chat {
    width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 6px;
    padding: 10px;
}

#messages {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#input-box {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
